// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: rgba(202, 199, 199, 0.495);
  color: $fg-color;
  font-weight: bold;
  padding: 4px;

  .POGGIES {
    background-color: rgb(200, 47, 47);
    padding: 10px;
  }  

  text {
    color: $fg-color;
  }

}